<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row mt-5">
        <h1>HOME PAGE</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem eveniet ducimus consectetur iste magni quae aspernatur perferendis beatae impedit.</p>
    </div>
</div>

<%- include('./partials/footer.ejs') %>