<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload file</title>
</head>
<body>
    <h1>Upload Files Using Multer</h1>

    <h3>Upload Single File</h3>
    <form action="/single" method="post" enctype="multipart/form-data">
        <label for="image">Upload ANY File</label>
        <input type="file" name="image" id="image">
        <input type="submit" value="Submit image">
    </form>

    <h3>Upload Multiple Files</h3>
    <form action="/multiple" method="post" enctype="multipart/form-data">
        <label for="image">Upload any File</label>
        <input type="file" name="images" id="image" multiple>
        <input type="submit" value="Submit image">
    </form>

</body>
</html>